<h1 align="center">
   Naives Bayes Clasifier
</h1>

In [1]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import BernoulliNB, MultinomialNB, GaussianNB

In [2]:
df = pd.read_csv('C:/Users/jorge/Desktop/Linkedin DATASCIENCE/CURSO/data/2008.csv')
df = df.sample(frac=1).head(100000)

In [3]:
df = df.dropna(subset=["ArrDelay"])

In [4]:
Y = df["ArrDelay"] > 0

In [5]:
#Variables Dummies.
df["Month"] = df["Month"].apply(str)
df["DayofMonth"] = df["DayofMonth"].apply(str)
df["DayOfWeek"] = df["DayOfWeek"].apply(str)
df["TailNum"] = df["TailNum"].apply(str)

X = pd.get_dummies(data=df[['Month', 'DayofMonth', 'DayOfWeek','TailNum', 'Origin', 'Dest','UniqueCarrier']])

In [6]:
X.head()

,Month_1,Month_10,Month_11,Month_12,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,...,UniqueCarrier_HA,UniqueCarrier_MQ,UniqueCarrier_NW,UniqueCarrier_OH,UniqueCarrier_OO,UniqueCarrier_UA,UniqueCarrier_US,UniqueCarrier_WN,UniqueCarrier_XE,UniqueCarrier_YV
2767159,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
3728309,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
6511709,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3702342,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2671639,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [7]:
clf = BernoulliNB()
clf.fit(X, Y)
Y_pred = clf.predict(X)

In [8]:
np.mean( Y == Y_pred)

0.6267705744587283

In [9]:
1 - np.mean(Y)

0.5631884146902709

In [10]:
X = df[['AirTime','Distance','TaxiIn','TaxiOut', 'DepDelay']]
clf = GaussianNB()
clf.fit(X,Y)
Y_pred = clf.predict(X)

In [11]:
np.mean(Y == Y_pred)

0.8036081367164729